<nav>
  <div class="logo"><a href="/" class="image-link active">
 <img src="https://files.cargocollective.com/c1171819/logo.png">
</a>
  </div>
   <ul class="left-links">
    <li><a class="off" href="Gallery" rel="history">Book Studio</a></li>
    <li><a class="off" href="Gallery-1" rel="history">Publishing House</a></li>
    <li><a href="Overview" rel="history">About</a></li>
  </ul>
  <ul class="right-links">
  <li><a href="/cart">Cart</a></li>
    <li><a data-modal="search-modal" class="modal-trigger">Search</a></li>
  </ul>
</nav>
<div class="mobile-nav">
<div class="logo"><a href="/" class="image-link active">
 <img src="https://files.cargocollective.com/c1171819/logo.png">
</a></div><ul class="right-links">
    <li><a data-modal="mobile-modal" class="mobile-trigger">Menu</a></li>
  <li><a href="/cart">Cart</a></li>
  </ul>
</div>
<div id="sub-nav">
  <ul>
      <li><a href="Overview">Overview</a></li>
        <li><a href="Services-1">Services</a></li>
        <li><a href="Press">Press</a></li>
        <li><a href="Contact">Contact</a></li>
        <li class="on"><a href="Team">Team</a></li>
    </ul><br>
    </div><br>
<br>
<content class="text"><small id="quote-text">Director — Hannah Yukiko Pierce<br><br>Production Manager — Kathleen Collins
<br><br>Graphic Designer — Isobel Chiang<br><br>Bookbinders — Biruta Auna,&nbsp; Annie Hillam, Celine Lombardi,  Sarah Nicholls,&nbsp;Sarah Smith
 
<br><br>

</small></content><!-- FOOTER -->

<!-- FOOTER -->
<footer>
<p>Located outside of the Brooklyn Navy Yard in occupied Lenapehoking
(Brooklyn, New York), Small Editions offers services in book and print
design, bookbinding, box making, and multiples. We also run an independent publishing imprint, where we collaborate with artists on several
projects annually.</p>
<ul>
  <li><a href="" class="active">© Small Editions 2021</a></li>
    <li><a data-modal="terms-modal" class="modal-trigger">Privacy</a></li>
    <li><a data-modal="newsletter-modal" class="modal-trigger">Newsletter</a></li>
    <li><a data-modal="contact-modal" class="modal-trigger">Contact</a></li>
    <li><a data-modal="faq-modal" class="modal-trigger" id="faq-trigger">FAQ</a></li>
    <li><a data-modal="credits-modal" class="modal-trigger">Credits</a></li>
</ul>
</footer>

<div class="modal" id="faq-modal">
  <div data-modal="faq-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
  <h1 style="text-align:center;">FREQUENTLY ASKED QUESTIONS</h1><br>
  General Project Questions 

<br><br>
1. What is the minimum run size?
<br><br>
There is no minimum run size! We typically produce projects with run sizes in the 1-2000 unit range, and recommend that all offset printed projects are an edition size of 200 or above. 


<br><br>
2. What is a typical lead time?
<br><br>
There are many variables that will affect your project's lead time. Our current minimum lead time for any project is 4 weeks, and we charge rush fees to make sure firm deadlines are met. We generally recommend planning 6-10 weeks for production of standard digital offset projects, and 3-6 months for standard offset projects. All other projects are subject to the availability of the bindery calendar. 


<br><br>
3. I’m not sure where to start with my project, and don’t know my project specifications yet – what is the best way to start a conversation?
<br><br>
We offer consulting services on specialized projects to help guide you through the process. Some of the questions we recommend considering before your consultation is: Which details are most important for your project? Are you set on any particular materials, dimensions, or run sizes? What is the overall budget goal for this project? If you don’t have an overall budget, then what is your goal for the individual ‘per book’ price?


<br><br>
4. Do you accept restoration projects?
<br><br>
Unfortunately, we are unable to facilitate restoration or conservation projects at this time. 

<br><br>

5. Why is the ‘per book’ price higher on smaller run sizes?
<br><br>
Since all of our projects are custom-made, there are initial project set up costs for each project. The ‘per book’ price drops as these costs are spread out across the run. Therefore, it will always be cheaper to do a larger edition of a project once, than to produce two smaller runs of the same project. 

<br><br>

6. Why does Small Editions ask for our ideal budget from the start? 
<br><br>
Starting out by discussing your ideal budget for the project, allows us to make the best recommendations for your particular project! We want to help you make the most of your budget, and are happy to provide guidance on materials, binding methods, print methods, and finishing details that complement your design goals. 


<br><br>
7. Can I get samples from you?
<br><br>
Since all of our projects are custom-made, we will create a sample card with curated options for your particular project. Sample cards are $15 each. We’ll be offering general sample books for sale soon.


<br><br>
8. Can I stop by the studio or schedule an in person meeting? 
<br><br>
At this time we are still limiting in person meetings in order to protect our team. You’re welcome to schedule a virtual consultation here. 
<br><br>
Once my project is ready, where can I collect them or have them shipped from? 
All projects can be collected from the studio located at 20 Grand Ave. #502 Brooklyn, NY 11205. All final shipping costs will be calculated from this location as well. 
<br><br>
What is the difference between your publishing and production programs ?
Our publishing program is not currently accepting applications. If you’d like to work with us, we recommend that you work with us through our production program. 
<br><br>
Where do I find more information about your publishing program ?
If you’d like to see the incredible artists we’ve worked with in the past, we recommend checking out our publishing page! 



<br><br>
Production Questions
<br><br>

1. Are printed hard proofs included in each quote?
<br><br>
Yes! For Digital Offset projects, we include one hard proof on the final paper for you to review. For Offset projects, we include 10 Epson proofs for color matching, and provide “blue lines”/plotter proofs (which are not on final paper) for layout and review confirmation. For all other print options, it is best to discuss the proofing process with us directly. 


<br><br>
2. Will the hard proof be on the final paper? 
<br><br>
Yes, if your project is printed Digital Offset. No, if your project is printed Offset. All other print options should be discussed with us directly. 


<br><br>
3. Can you proof our project if we are working with another printer for final production?  
<br><br>
We recommend working with your printer or someone they recommend, so that the correct color profiles are being used for your project and their requirements. 

<br><br>

4. What finishing options are available? 
<br><br>
The possibilities are endless! Feel free to send us reference images with your ideal budget range, so we can help you work towards your dream finishes. A couple of our favorites are foil stamping / debossing, fore-edge painting, and custom ribbon inserts! 
<br><br>


5. What print options are available?
<br><br>
We have long standing relationships with print partners in both the US and Europe. Standard print options are Offset and Digital Offset, and we can recommend the best option based on your book size, run size, and budget. Additionally we are able to facilitate letterpress, risograph, fine art inkjet, screen printing, and laser printing. 
<br><br>


6. What binding options are available? 
<br><br>
Again, the possibilities are endless! Standard projects are typically Perfect Bound or Smyth-Sewn. For perfect binding we work exclusively with a coldset PUR. A couple of other favorite binding options are pamphlet stitch, Japanese stab binding, and Swiss sewn with a drop spine. Special binding methods tend to work better for different run sizes and budget ranges, and we’re happy to discuss this further with you.
<br><br>


7. What papers are available?
<br><br>
The two main categories are Coated and Uncoated papers. Coated options are available in Glossy or Silk/Matte and Uncoated is a Matte/Dull option. The weights and brands available to you are dependent on the best printing method for your particular project. We work with paper mills large and small, and are happy to recommend a few options that best suit your particular project! 
<br><br>


8. What cover materials are available? 
<br><br>
For softcovers, we recommend printing on cover weight paper or foil stamping a variety of cover stocks not suited for printing. Please reach out to us with more specific material questions.
For hardcovers, we regularly work with leather, cover cloth, simulated leather, and printed paper wraps. Please reach out to us with more specific material questions.
<br><br>
For all printed cover material, we recommend laminating the cover to prevent the ink from scratching off. Lamination options include: Matte, Soft Touch Matte, Gloss, and Silk. 


<br><br>
9. What environmentally friendly options are available? 
<br><br>
While there are recycled paper options available, we don’t always recommend printing on them! The environmental impact of specially sourcing internal paper options sometimes outweighs the benefit of using recycled options. With that said, we are informed on the options available, and happy to discuss them with you! There are many exciting options available for cover stocks such as paper produced in hydro powered mills or paper made from recycled disposable paper coffee cups.
<br><br>


10. What does Small Editions check for in prepress? 
<br><br>
Our top priority is to check that all of your images are printing at the correct resolution and that the color profiling will fall in the desired range. We will call out any concerns we have about file formatting from colorspace to general formatting. 

<br><br>

11. What should I (the client) be checking for in the prepress pdfs?
<br><br>
Please check the text/copy of the book closely! It is important to catch all spelling and copy errors before moving to the hard proof stage. It is also important to check for layout, color, and formatting concerns at this point. It is much more difficult and costly to correct problems in the hard proof stage, so please bring any concerns to us before approving! This is the stage to catch any major/minor file errors! 


<br><br>
12. When/why do fees apply for changing the file post prepress pdf review?
<br><br>
Once you approve the prepress pdfs, we immediately start the process of producing your project. Steps such as imposition, ordering materials, and plate production are timely/costly steps that will affect how we navigate correcting the file change and the fees involved. We do our best to make sure that everything is clear and you’re happy with everything before starting production. 
<br><br>
</div>
</div>
<!-- QUOTE -->
<div class="modal" id="request-modal">
  <div data-modal="request-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1>REQUEST A QUOTE</h1><br>
      <form id="answer" name="submit-to-google-sheet">
            <label for="name">Name</label>
            <input id="name" type="text" name="Name">

              <label for="phone">Phone</label>
                <input id="phone" type="text" name="Phone">

              <label for="email">Email</label>
                <input id="email" type="text" name="Email">
          <label for="details">Details</label>
                <textarea id="details" type="text" name="Details">   </textarea>       <label for="quantity">Quantity:</label>
                <input id="quantity" type="text" name="Quantity">

          <label for="pageSize">Page Size</label>
                <input id="pageSize" type="text" name="PageSize">

          <label for="pageCount">Page Count</label>
                <input id="pageCount" type="text" name="PageCount">

          <label for="color">Color</label>
                <input id="color" type="text" name="Color">

          <label for="material">Material</label>
                <input id="material" type="text" name="Material">

          <label for="budget">Budget</label>
                <input id="budget" type="text" name="Budget">

          <label for="timeline">Timeline</label>
                <input id="timeline" type="text" name="Timeline">
            <button type="submit">SEND REQUEST</button>
            <span id="done-message">REQUEST SUBMITTED!</span>
          </form>
          
   </div>
</div>
<!-- CONSULTATION -->
<div class="modal" id="consultation-modal">
  <div data-modal="consultation-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1>SCHEDULE A CONSULTATION</h1><br>
      <p>Lorem Ipsum</p>
   </div>
</div>
<!-- SEARCH -->
<div class="modal" id="search-modal">
  <div data-modal="search-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1>SEARCH</h1><br>
      <div id="search_form" data-view="search"><input type="text" id="search_term" rel="Search:"></div><script>$(document).trigger("loadSearch");</script>


   </div>
</div>
<!-- Newsletter -->
<div class="modal" id="newsletter-modal">
  <div data-modal="newsletter-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg></div>
  <div class="inner">
      <h1>Newsletter</h1>
  
      <div class="ff-616354a5f88d548e68f5cec1" data-ff-el="root" data-ff-version="3" data-ff-type="inline" data-ff-name="inlineNoImage">
  <!--tpl {% block config %} tpl-->
  <div data-ff-el="config" data-ff-config="eyJ0cmlnZ2VyIjp7Im1vZGUiOiJpbW1lZGlhdGVseSIsInZhbHVlIjowfSwib25TdWNjZXNzIjp7Im1vZGUiOiJtZXNzYWdlIiwibWVzc2FnZSI6IiIsInJlZGlyZWN0VXJsIjoiIn0sImNvaSI6ZmFsc2UsInNob3dGb3JSZXR1cm5WaXNpdG9ycyI6dHJ1ZSwibm90aWZpY2F0aW9uIjp0cnVlfQ==" style="display: none"></div>
  <!--tpl {% endblock %} tpl-->
  <div class="ff-616354a5f88d548e68f5cec1__container">
    <div class="ff-616354a5f88d548e68f5cec1__wrapper">
      <form class="ff-616354a5f88d548e68f5cec1__form" action="https://form.flodesk.com/forms/616354a5f88d548e68f5cec1/submit" method="post" data-ff-el="form">
        <div class="ff-616354a5f88d548e68f5cec1__title">
          <div></div>
        </div>
        <div class="ff-616354a5f88d548e68f5cec1__subtitle">
          <div></div>
        </div>
        <div class="ff-616354a5f88d548e68f5cec1__content fd-form-content" data-ff-el="content">
          <div class="ff-616354a5f88d548e68f5cec1__fields" data-ff-el="fields">
            <!--tpl {% block fields %} tpl-->

            <div class="ff-616354a5f88d548e68f5cec1__field fd-form-group">
              <input class="ff-616354a5f88d548e68f5cec1__control fd-form-control" type="text" name="email" placeholder="Email address" data-ff-tab="email::submit" required="">
              <label class="ff-616354a5f88d548e68f5cec1__label fd-form-label">Email address</label>
            </div>

            <input type="text" name="confirm_email_address" style="display: none">
            <!--tpl {% endblock %} tpl-->
          </div>

          <div class="ff-616354a5f88d548e68f5cec1__footer" data-ff-el="footer">
            <button type="submit" class="ff-616354a5f88d548e68f5cec1__button fd-btn" data-ff-el="submit" data-ff-tab="submit">
              <span>Subscribe</span>
            </button>
          </div>
        </div>
        <div class="ff-616354a5f88d548e68f5cec1__success fd-form-success" data-ff-el="success">
          <div data-paragraph="true">Thank you!</div>
        </div>
        <div class="ff-616354a5f88d548e68f5cec1__error fd-form-error" data-ff-el="error"></div>
      </form>
    </div>
  </div>
</div>

   </div>
</div>
<!-- Contact -->
<div class="modal" id="contact-modal">
  <div data-modal="contact-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg></div>
  <div class="inner">
      <h1 style="text-align:left;">CONTACT</h1>
      <p>
      production@smalleditions.nyc <br>
      T. 718 422-1304 <br>
      20 Grand Avenue, #502 <br>
      Brooklyn, NY 11205 <br><br>
      
      We’re open 10am-6pm Monday through Friday, <br>but studio visits are by appointment only. <br>
      <br>
      @smalleditionsnyc
      </p>
   </div>
</div>
<!-- TERMS &amp; CONDITIONS -->
<div class="modal" id="terms-modal">
  <div data-modal="terms-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1 style="text-align:center;">Terms of Use </h1>
<br><br>
Please read these Terms of Use carefully before using www.smalleditions.nyc (herein referred to as “the Site”), which is owned and operated by Low-Key Editions LLC (DBA Small Editions). These terms of use are a binding contract that governs use of the Site and limits liability of Small Editions. These terms are a legal agreement between you and Small Editions. We reserve the right to change or modify any contents of the site at any time without notice. We also reserve the right to make changes to our Privacy Policy and Terms of Use from time to time.
<br><br>
1.1 Acceptance of Terms
Every time you use or enter the Site, you acknowledge and signify that you have read, understood, and agree to the most current version of these terms of use. If you do not agree with these terms of use, you may not access or use the Site. 
<br><br>
1.2 Intellectual Property Rights
This Site contains copyrighted material and other material protected by other intellectual property rights. You are only permitted to use this Site in accordance with the rights governed by the laws of the state of New York. Any other use is subject to the prior written approval of Small Editions.
<br><br>


PRIVACY
<br><br>
This Privacy Policy describes how www.smalleditions.nyc (the Site) collects, uses, and discloses your Personal Information when you visit or make a purchase from the Site. 
<br><br>
2.1 Collecting Personal Information 
Small Editions collects information to provide you with an efficient and optimal experience while using the Site. When you visit the Site, Small Editions collects “Personal” and “Non-Personal” information about you in the following cases: If you make a purchase on the Site, submit an inquiry, book a consultation, request a quote, or sign up for our newsletter. We only collect necessary data needed to conduct our business and process purchases, such as your name, address, telephone number, email address(es), payment cards, other payment data purchase history, and IP address.
<br><br>
2.2 Security
Small Editions will take all reasonable measures to protect the Site against computer viruses or other threats in order to protect your personal data against manipulation, loss, destruction, and unauthorised access. Small Editions does not, however, warrant that this Site is free from such harmful programs and disclaims any responsibility for or liability related to loss due to harmful programs received from the Site or by means of files downloaded from the Site. Thus, you provide your data information at your own risk.
<br><br>
2.3 Cookies 
By using this website, you agree to our use of cookies. We use cookies to provide you with an efficient and optimal experience while using the Site and to help the Site run optimally.
<br><br>
2.4 Storage
Small Editions will store your personal data as long as necessary in order to fulfil the requested service, as long as needed for a legitimate purpose or for as long as required by law.
<br><br>


disclaimer
<br><br>
The contents of the Site are made available to the public for informational purposes. This Site contains links to third-party Internet sites over which Small Editions has no control.
<br><br>
Small Editions gives no warranty and accepts no responsibility or liability for the accuracy or the completeness of the information and materials contained in this website. Under no circumstances will Small Editions be held responsible or liable for any claims, damages, losses, expenses, costs or liabilities whatsoever (including, without limitation, any direct or indirect damages for loss of profits, business interruption or loss of information) resulting directly or indirectly from your use of the Site or any links to third-party Internet sites, or from your reliance on the information and materials on the Site, regardless if Small Editions has been advised of such damages ahead of time. 
<br><br>

Updated October 5, 2021 

   </div>
</div>
<!-- CREDITS -->
<div class="modal" id="credits-modal">
  <div data-modal="credits-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <p>Website design by Isobel Chiang<br>
      Website development by Aarati Akkapeddi</p>
   </div>
</div>
<!-- MOBILE MODAL -->
<div class="modal" id="mobile-modal">

  <div class="inner">
      <ul>
      <li><a href="Gallery">Book Studio</a></li>
            <li><a href="Gallery-1">Publishing House</a></li>
            <li><a href="Overview">About</a></li>
            <li><a class="modal-trigger" data-modal="search-modal">Search</a></li>
            <li><a data-modal="newsletter-modal" class="modal-trigger">Newsletter</a></li>
            </ul>
   </div>
</div>
<!-- end modals -->
<script src="https://files.cargocollective.com/c1171819/accordion.js"></script>
<script src="https://files.cargocollective.com/c1171819/mobile.js"></script>
<script src="https://files.cargocollective.com/c1171819/modal.js"></script>
<script src="https://files.cargocollective.com/c1171819/backtotop.js"></script>

<script src="https://files.cargocollective.com/c1171819/request.js"></script>