
<nav>
  <div class="logo"><a href="/" class="image-link active">
 <img src="https://files.cargocollective.com/c1171819/logo.png">
</a>
  </div>
  <ul class="left-links">
    <li><a href="Gallery" rel="history">Book Studio</a></li>
    <li><a class="off" href="Gallery-1" rel="history">Publishing House</a></li>
    <li><a class="off" href="Overview" rel="history">About</a></li>
  </ul>
  <ul class="right-links">
	<li><a href="" class="active">Cart</a></li>
    <li><a data-modal="search-modal" class="modal-trigger">Search</a></li>
  </ul>
</nav>
<div class="mobile-nav">
<div class="logo"><a href="/" class="image-link active">
 <img src="https://files.cargocollective.com/c1171819/logo.png">
</a></div><ul class="right-links">
    <li><a data-modal="mobile-modal" class="mobile-trigger">Menu</a></li>
	<li><a href="" class="active">Cart</a></li>
  </ul>
</div>
<div id="sub-nav">
	<ul>
    	<li><a href="gallery">Gallery</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="clients">Clients</a></li>
        <li class="on"><a href="Process">Process</a></li>
        <li><a href="Quote">Request a Quote</a></li>
    </ul><br>
</div><content class="text">
 <small id="process-text">How it works<br>Timeline<br>Printing options<br>
 <div class="accordion">
 <span>Schedule a consultation
 </span>
 <div class="inner">
 If you have questions regarding your book/print project, we would be happy to speak with you one-on-one. 

We charge a $40 fee for every half-hour consultation. 
<br><br>
  <!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/smalleditionsnyc'});return false;">click here to schedule a consultation</a>
<!-- Calendly link widget end -->

 
 </div>
 </div>
<br>
</small>
</content>
<!-- FOOTER -->
<!-- FOOTER -->
<footer>
<p>Located outside of the Brooklyn Navy Yard in occupied Lenapehoking
(Brooklyn, New York), Small Editions offers services in book and print
design, bookbinding, box making, and multiples. We also run an independent publishing imprint, where we collaborate with artists on several
projects annually
</p>
<ul>
	<li><a href="" class="active">© Small Editions 2021</a></li>
    <li><a href="" class="active">Privacy</a></li>
    <li><a data-modal="newsletter-modal" class="modal-trigger">Newsletter</a></li>
    <li><a data-modal="contact-modal" class="modal-trigger">Contact</a></li>
    <li data-modal="faq-modal" class="modal-trigger" id="faq-trigger">FAQ</li>
    <li><a data-modal="credits-modal" class="modal-trigger">Credits</a></li>
</ul>
</footer>

<div class="modal" id="faq-modal">
  <div data-modal="faq-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
  <h1>FREQUENTLY ASKED QUESTIONS</h1><br>
  De volorem poresciet re, quam, con nobist quis? Num ipsanda voluptiur mini nullitis dolori dolecte mpores derest ut que porpor sum repudam, quis et ulluptam hilit vel molorep elluptas soles volori volut laborep erunturepudi blabo. Quidit faccum sectae nosam quiatium ad etur, offici aut et facea  <br>
<br>
ium ad modit, sectus, si dellum, exeribus sed? Mut rem nimil eturi deres vendam dit inullor erchilique iur, ium aut aspis aliqui inctemque pore sandebit, sequi officium imus simil incimus doluptat repudisci nobitis molupitasi dionet quuntor minctus re estint.
Opta aut ventiisi quae sit facest, ulparci llestis et doluptium quodit aboribus molestint volo beratis expersp ictur?
  <br>
Pa voluptae elenduc ienimpero dem earciae sumquae?  Praerum non nobit aut volumet ame illiantiis cus, sapicti umquostis as eum qui dit labo. Et ide et adit, et haritio. Sum volupisin num, tem velit il molupta eaqui oditio totatur, explandis maio con ea dolo dolore moluptium dunducia debis exernat estion comnihiliqui oditiur apis in etur apiet ipit et qui omnihil litaspitas most, qui debiscidem ipsam, od maxim il endellupta etusa nietus simin ent del   <br>
ipsant am idusape raeprorrum que int antia?  Duciditatios dolorrovid utataquid quate sitame verovit magnam exceped ma di conserro etur?
Rit quae audita dus vero essum fugit quis nisquo ditia con corpore perspici dolum vel ius verspid esequam faceaquam, te es arit ad unt.
Fuga. Unt, od qui occus ut quiate nis nonsequi arciantur sam eosam qui dolendio comni accupitas min porum et repersped molupit as por sitiore mposam, occat as ex excepero   <br>
essus sed quas imet, acestotae velit, venis sam, sam dollabo reptur, sequi cus es nobissit ullorep eribeaq uibero te porest lam eatio eles dolorum quam nisquo dolora derit, sinveles ditasi ventius aut labor aliquo voluptiatis as de re, quodit intioreperit plique nus ma quasin rati a nonsero te inis anti nimetus qui tetum derit volorumque voluptat.
Ehendi rehenisqui   <br>
dolorrum nonsece perferia di dolum, to es est, core optat?
 Ferferibus atur? Bis eossit modit, sincte el magni ant arion nit, qui dolorib ererumquo in ped et de nonet eaquates adi dunto elendestis debit moluptaquunt ventur sundam, quae sitibusanti aut ut pliqui rem harunt exceatum fugitem quaerit, temporepuda vit quos ni to quo et eum fugit vites dios as est optio quasped igendia doluptur, optasiti verum autamus evendae ad quae laut molorem vitatia parum remquam, sit res explit maionsequi dolor molutem porepud andam, sam, conse venet adi optatur maximinit ration porum ipicias ut ut lam verfero eatiae debitatint excepre voloreh enihitatem debisim agnatia tendita taquos alita volorum quosam quiatum as quas es voluptae eius.
Il iducianderum inisitibus, sitatur, te ipsam haruntio. Nequae nulparum soluptur re eate sitium inus, exerernate aut aut et quosand itibus non nam volorerum quo te rehenih illore et ut laut pereprem fugit, odictota doluptat optatesequid ulles doloribus, quuntem. Ellorer ovidest, simusapici is dem facepratia asperfe rferate et molu  <br>
De volorem poresciet re, quam, con nobist quis? Num ipsanda voluptiur mini nullitis dolori dolecte mpores derest ut que porpor sum repudam, quis et ulluptam hilit vel molorep elluptas soles volori volut laborep erunturepudi blabo. Quidit faccum sectae nosam quiatium ad etur, offici aut et facea   <br>
ium ad modit, sectus, si dellum, exeribus sed? Mut rem nimil eturi deres vendam dit inullor erchilique iur, ium aut aspis aliqui inctemque pore sandebit, sequi officium imus simil incimus doluptat repudisci nobitis molupitasi dionet quuntor minctus re estint.
Opta aut ventiisi quae sit facest, ulparci llestis et doluptium quodit aboribus molestint volo beratis expersp ictur?
  <br>
Pa voluptae elenduc ienimpero dem earciae sumquae?  Praerum non nobit aut volumet ame illiantiis cus, sapicti umquostis as eum qui dit labo. Et ide et adit, et haritio. Sum volupisin num, tem velit il molupta eaqui oditio totatur, explandis maio con ea dolo dolore moluptium dunducia debis exernat estion comnihiliqui oditiur apis in etur apiet ipit et qui omnihil litaspitas most, qui debiscidem ipsam, od maxim il endellupta etusa nietus simin ent del   <br>
ipsant am idusape raeprorrum que int antia?  Duciditatios dolorrovid utataquid quate sitame verovit magnam exceped ma di conserro etur?
Rit quae audita dus vero essum fugit quis nisquo ditia con corpore perspici dolum vel ius verspid esequam faceaquam, te es arit ad unt.
Fuga. Unt, od qui occus ut quiate nis nonsequi arciantur sam eosam qui dolendio comni accupitas min porum et repersped molupit as por sitiore mposam, occat as ex excepero   <br>
essus sed quas imet, acestotae velit, venis sam, sam dollabo reptur, sequi cus es nobissit ullorep eribeaq uibero te porest lam eatio eles dolorum quam nisquo dolora derit, sinveles ditasi ventius aut labor aliquo voluptiatis as de re, quodit intioreperit plique nus ma quasin rati a nonsero te inis anti nimetus qui tetum derit volorumque voluptat.
Ehendi rehenisqui <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
.<br>
</div>
</div>
<!-- QUOTE -->
<div class="modal" id="request-modal">
  <div data-modal="request-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
	<div class="inner">
			<h1>REQUEST A QUOTE</h1><br>
			<form id="answer" name="submit-to-google-sheet">
            <label for="name">Name</label>
            <input id="name" type="text" name="Name">

              <label for="phone">Phone</label>
                <input id="phone" type="text" name="Phone">

              <label for="email">Email</label>
                <input id="email" type="text" name="Email">
          <label for="details">Details</label>
                <textarea id="details" type="text" name="Details">   </textarea>       <label for="quantity">Quantity:</label>
                <input id="quantity" type="text" name="Quantity">

          <label for="pageSize">Page Size</label>
                <input id="pageSize" type="text" name="PageSize">

          <label for="pageCount">Page Count</label>
                <input id="pageCount" type="text" name="PageCount">

          <label for="color">Color</label>
                <input id="color" type="text" name="Color">

          <label for="material">Material</label>
                <input id="material" type="text" name="Material">

          <label for="budget">Budget</label>
                <input id="budget" type="text" name="Budget">

          <label for="timeline">Timeline</label>
                <input id="timeline" type="text" name="Timeline">
            <button type="submit">SEND REQUEST</button>
            <span id="done-message">REQUEST SUBMITTED!</span>
          </form>
          
	 </div>
</div>
<!-- CONSULTATION -->
<div class="modal" id="consultation-modal">
  <div data-modal="consultation-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
	<div class="inner">
			<h1>SCHEDULE A CONSULTATION</h1><br>
			<p>Lorem Ipsum</p>
	 </div>
</div>
<!-- SEARCH -->
<div class="modal" id="search-modal">
  <div data-modal="search-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
	<div class="inner">
			<h1>SEARCH</h1><br>
			<p>Lorem Ipsum</p>
	 </div>
</div>
<!-- Newsletter -->
<div class="modal" id="newsletter-modal">
  <div data-modal="newsletter-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg></div>
	<div class="inner">
			<h1>SUBSCRIBE TO OUR NEWSLETTER</h1>
			<div class="ff-616354a5f88d548e68f5cec1" data-ff-el="root" data-ff-version="3" data-ff-type="inline" data-ff-name="inlineNoImage">
  <!--tpl {% block config %} tpl-->
  <div data-ff-el="config" data-ff-config="eyJ0cmlnZ2VyIjp7Im1vZGUiOiJpbW1lZGlhdGVseSIsInZhbHVlIjowfSwib25TdWNjZXNzIjp7Im1vZGUiOiJtZXNzYWdlIiwibWVzc2FnZSI6IiIsInJlZGlyZWN0VXJsIjoiIn0sImNvaSI6ZmFsc2UsInNob3dGb3JSZXR1cm5WaXNpdG9ycyI6dHJ1ZSwibm90aWZpY2F0aW9uIjp0cnVlfQ==" style="display: none"></div>
  <!--tpl {% endblock %} tpl-->
  <div class="ff-616354a5f88d548e68f5cec1__container">
    <div class="ff-616354a5f88d548e68f5cec1__wrapper">
      <form class="ff-616354a5f88d548e68f5cec1__form" action="https://form.flodesk.com/forms/616354a5f88d548e68f5cec1/submit" method="post" data-ff-el="form">
        <div class="ff-616354a5f88d548e68f5cec1__title">
          <div></div>
        </div>
        <div class="ff-616354a5f88d548e68f5cec1__subtitle">
          <div></div>
        </div>
        <div class="ff-616354a5f88d548e68f5cec1__content fd-form-content" data-ff-el="content">
          <div class="ff-616354a5f88d548e68f5cec1__fields" data-ff-el="fields">
            <!--tpl {% block fields %} tpl-->

            <div class="ff-616354a5f88d548e68f5cec1__field fd-form-group">
              <input class="ff-616354a5f88d548e68f5cec1__control fd-form-control" type="text" name="email" placeholder="Email address" data-ff-tab="email::submit" required />
              <label class="ff-616354a5f88d548e68f5cec1__label fd-form-label">Email address</label>
            </div>

            <input type="text" name="confirm_email_address" style="display: none" />
            <!--tpl {% endblock %} tpl-->
          </div>

          <div class="ff-616354a5f88d548e68f5cec1__footer" data-ff-el="footer">
            <button type="submit" class="ff-616354a5f88d548e68f5cec1__button fd-btn" data-ff-el="submit" data-ff-tab="submit">
              <span>Subscribe</span>
            </button>
          </div>
        </div>
        <div class="ff-616354a5f88d548e68f5cec1__success fd-form-success" data-ff-el="success">
          <div data-paragraph="true">Thank you!</div>
        </div>
        <div class="ff-616354a5f88d548e68f5cec1__error fd-form-error" data-ff-el="error"></div>
      </form>
    </div>
  </div>
</div>
	 </div>
</div>
<!-- Contact -->
<div class="modal" id="contact-modal">
  <div data-modal="contact-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg></div>
	<div class="inner">
			<h1 style="text-align:left;">CONTACT</h1>
			<p>
			production@smalleditions.nyc <br>
			T. 718 422-1304 <br>
			20 Grand Avenue, #502 <br>
			Brooklyn, NY 11205 <br><br>
			
			We’re open 10am-6pm Monday through Friday, <br>but studio visits are by appointment only. <br>
			<br>
			@smalleditionsnyc
			</p>
	 </div>
</div>
<!-- TERMS &amp; CONDITIONS -->
<div class="modal" id="terms-modal">
  <div data-modal="terms-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
	<div class="inner">
			<h1>TERMS &amp; CONDITIONS</h1><br>
			<p>Lorem Ipsum</p>
	 </div>
</div>
<!-- CREDITS -->
<div class="modal" id="credits-modal">
  <div data-modal="credits-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
	<div class="inner">
			<h1>WEBSITE CREDITS</h1><br>
			<p>Lorem Ipsum</p>
	 </div>
</div>
<!-- MOBILE MODAL -->
<div class="modal" id="mobile-modal">

	<div class="inner">
			<ul>
			<li><a href="" class="active">Book Studio</a></li>
            <li><a href="" class="active">Publishing House</a></li>
            <li><a href="" class="active">About</a></li>
            <li><a class="modal-trigger" data-modal="search-modal">Search</a></li>
            <li><a class="modal-trigger" data-modal="newsletter-modal">Newsletter</a></li>
            </ul>
	 </div>
</div>
<!-- end modals -->

<script src="https://files.cargocollective.com/c1171819/accordion.js"></script>

<script src="https://files.cargocollective.com/c1171819/mobile.js"></script>
<script src="https://files.cargocollective.com/c1171819/modal.js"></script>
<script src="https://files.cargocollective.com/c1171819/backtotop.js"></script>

<script src="https://files.cargocollective.com/c1171819/request.js"></script>
