<nav>
  <div class="logo"><a href="/" class="image-link active">
 <img src="https://files.cargocollective.com/c1171819/logo.png">
</a>
  </div>
  <ul class="left-links">
    <li><a href="Gallery" rel="history">Book Studio</a></li>
    <li><a class="off" href="Gallery-1" rel="history">Publishing House</a></li>
    <li><a class="off" href="Overview" rel="history">About</a></li>
  </ul>
  <ul class="right-links">
  <li>    <a href="#" rel="show_cart" show-count="">Cart</a>
</li>
    <li><a data-modal="search-modal" class="modal-trigger">Search</a></li>
  </ul>
</nav>
<div class="mobile-nav">
<div class="logo"><a href="/" class="image-link active">
 <img src="https://files.cargocollective.com/c1171819/logo.png">
</a></div><ul class="right-links">
    <li><a data-modal="mobile-modal" class="mobile-trigger">Menu</a></li>
  <li>    <a href="#" rel="show_cart" show-count="">Cart</a>
</li>
  </ul>
</div>
<div id="sub-nav">
  <ul>
      <li><a href="gallery">Gallery</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="clients">Clients</a></li>
        <li class="on"><a href="Process">Process</a></li>
        <li><a href="Quote">Request a Quote</a></li>
    </ul><br><br>
<br>
</div><content class="text">
 <small id="process-text">
 <!---------------------->
<!---------------------->
<!---------------------->
<!-- ACCORDION START  -->
<!---------------------->
<!---------------------->
<!---------------------->
 <div class="accordion">
 <span>How it Works
 </span>
 <div class="inner">
<!---------------------->
<!-- EDIT BELOW  ------->
<!---------------------->
— Consultation: An optional step for first-time book makers, or those without firm production specs. See “Schedule a Consultation” below.<br><br> 

— Design: If your project needs designing, our in-house design team will work with you to create all necessary print-ready files. Our team consists of graphic designers, bookbinders, and print specialists, and we pride ourselves on designing books that carefully consider paper, typography, binding structure, cover materials, printing methods, and reader interactions.<br><br> 

— Price Estimate: After submitting your project details via our "Request a Quote" form, we match the scope of your project with a realistic production solution and price point. We advise on possible printing, binding, and finishing options that fall within your budget and timeline.<br><br> 

— Prepress: Prepress is the process of preparing files for print before they “go to press.” Our top priority is to check that all images are printing at the correct resolution and that the color profiling will fall in the desired range. We will call out any concerns we have about file formatting from image resolution to colorspace and general formatting, then we provide you with a digital proof.<br><br> 

— Proofing: At this stage, we provide hard proofs and check for things like color matching, layout, and pagination. For Digital Offset projects, these proofs will be printed on the final paper, in flat sheets. For Offset projects, we will provide 10 Epson color proofs that approximate your press results, and a set of imposition proofs that show the size and position of each page in the book. This is the last chance to make changes to files before final printing, but change fees do apply.<br><br> 

— Going to Press: After final proofs are approved, we send your project to print. Small-run projects are finished and bound in-studio. For larger runs, we partner with domestic or European vendors to print and bind your project. Unless a binding mockup has been requested during the estimation process, you won’t see the final form of the books until the entire edition is complete. <br><br> 

We are a bespoke book studio, and each project we work on is a little bit different. As such, our design and production processes may change depending on the specific needs of each project.<br><br> 
 
<!---------------------->
<!-- EDIT ABOVE  ------->
<!---------------------->
 </div>
 </div>
<!---------------------->
<!---------------------->
<!---------------------->
<!-- ACCORDION END  -->
<!---------------------->
<!---------------------->
<!---------------------->
  <!---------------------->
<!---------------------->
<!---------------------->
<!-- ACCORDION START  -->
<!---------------------->
<!---------------------->
<!---------------------->
 <div class="accordion">
 <span>Timeline
 </span>
 <div class="inner">
<!---------------------->
<!-- EDIT BELOW  ------->
<!---------------------->
There are many variables that will affect a project's lead time. Our current minimum lead time for any project is 4 weeks (longer if your files need designing), and we charge rush fees to make sure firm deadlines are met. <br><br>
We generally recommend planning 6-10 weeks for production of standard digital offset projects, and 3-6 months for standard offset projects. All other print or edition projects are subject to the availability of the studio calendar. 
<br><br>
<!---------------------->
<!-- EDIT ABOVE  ------->
<!---------------------->
 </div></div>
<!---------------------->
<!---------------------->
<!---------------------->
<!-- ACCORDION END  -->
<!---------------------->
<!---------------------->
<!---------------------->
 <!---------------------->
<!---------------------->
<!---------------------->
<!-- ACCORDION START  -->
<!---------------------->
<!---------------------->
<!---------------------->
 <div class="accordion">
 <span>Schedule a consultation
 </span>
 <div class="inner">
<!---------------------->
<!-- EDIT BELOW  ------->
<!---------------------->
 If you have questions regarding your book/print project, we would be happy to speak with you one-on-one. <br><br>
We charge $75 for in-studio consultations (1 hour), and $55 for virtual consultations (45 min). 
<br><br>
<!---------------------->
<!-- EDIT ABOVE  ------->
<!---------------------->


<!-- Google calendar link widget begin -->
<b><a target="_blank" href="https://calendar.google.com/calendar/u/0/selfsched?sstoken=UUxLeVRYM1NkMnBHfGRlZmF1bHR8MWU5ZTBkZGEyNWM2MTkyZjcxOTVkNTY2NzU3NDRmNzY">Click here to schedule a consultation</a></b>
<!-- Google calendar link widget end -->

 
 </div>
 </div>
<!---------------------->
<!---------------------->
<!---------------------->
<!-- ACCORDION END  -->
<!---------------------->
<!---------------------->
<!---------------------->
<br>
</small>
</content>

<!-- FOOTER -->
<footer>

<ul>
  <li><a href="" class="active">© Small Editions 2021</a></li>
    <li><a data-modal="terms-modal" class="modal-trigger">Privacy</a></li>
    <li><a data-modal="newsletter-modal" class="modal-trigger">Newsletter</a></li>
    <li><a data-modal="contact-modal" class="modal-trigger">Contact</a></li>
    <li><a data-modal="faq-modal" class="modal-trigger" id="faq-trigger">FAQ</a></li>
    <li><a data-modal="credits-modal" class="modal-trigger">Credits</a></li>
</ul>
</footer>

<div class="modal" id="faq-modal">
  <div data-modal="faq-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner"></div>
</div>
<!-- QUOTE -->
<div class="modal" id="request-modal">
  <div data-modal="request-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1>REQUEST A QUOTE</h1><br>
      <form id="answer" name="submit-to-google-sheet">
            <label for="name">Name</label>
            <input id="name" type="text" name="Name">

              <label for="phone">Phone</label>
                <input id="phone" type="text" name="Phone">

              <label for="email">Email</label>
                <input id="email" type="text" name="Email">
          <label for="details">Details</label>
                <textarea id="details" type="text" name="Details">   </textarea>       <label for="quantity">Quantity:</label>
                <input id="quantity" type="text" name="Quantity">

          <label for="pageSize">Page Size</label>
                <input id="pageSize" type="text" name="PageSize">

          <label for="pageCount">Page Count</label>
                <input id="pageCount" type="text" name="PageCount">

          <label for="color">Color</label>
                <input id="color" type="text" name="Color">

          <label for="material">Material</label>
                <input id="material" type="text" name="Material">

          <label for="budget">Budget</label>
                <input id="budget" type="text" name="Budget">

          <label for="timeline">Timeline</label>
                <input id="timeline" type="text" name="Timeline">
            <button type="submit">SEND REQUEST</button>
            <span id="done-message">REQUEST SUBMITTED!</span>
          </form>
          
   </div>
</div>

<!-- SEARCH -->
<div class="modal" id="search-modal">
  <div data-modal="search-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1>SEARCH</h1><br>
      <div id="search_form" data-view="search"><input type="text" id="search_term" rel="Search:"></div><script>$(document).trigger("loadSearch");</script>


   </div>
</div>
<!-- Consultation Modal -->
<div class="modal" id="consultation-modal">
  <div data-modal="contact-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg></div>
  <div class="inner">
    <iframe src="https://calendar.google.com/calendar/u/0/selfsched?sstoken=UUxLeVRYM1NkMnBHfGRlZmF1bHR8MWU5ZTBkZGEyNWM2MTkyZjcxOTVkNTY2NzU3NDRmNzY" id="google-frame"></iframe>
  </div>
</div>
<!-- Newsletter -->
<div class="modal" id="newsletter-modal">
  <div data-modal="newsletter-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg></div>
  <div class="inner">
      <h1>Newsletter</h1>
<div class="ff-61d4750bb0306b55f06cb685" data-ff-el="root" data-ff-version="3" data-ff-type="inline" data-ff-name="ribbonBanner">
  <!--tpl {% block config %} tpl-->
  <div data-ff-el="config" data-ff-config="eyJ0cmlnZ2VyIjp7Im1vZGUiOiJpbW1lZGlhdGVseSIsInZhbHVlIjowfSwib25TdWNjZXNzIjp7Im1vZGUiOiJtZXNzYWdlIiwibWVzc2FnZSI6IiIsInJlZGlyZWN0VXJsIjoiIn0sImNvaSI6ZmFsc2UsInNob3dGb3JSZXR1cm5WaXNpdG9ycyI6dHJ1ZSwibm90aWZpY2F0aW9uIjp0cnVlfQ==" style="display: none"></div>
  <!--tpl {% endblock %} tpl-->
  <div class="ff-61d4750bb0306b55f06cb685__container">
    <form class="ff-61d4750bb0306b55f06cb685__form" action="https://form.flodesk.com/forms/61d4750bb0306b55f06cb685/submit" method="post" data-ff-el="form">
      <div class="ff-61d4750bb0306b55f06cb685__title">
        <div>Subscribe</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__subtitle">
        <div>Sign up with your email address to receive news and updates.</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__content fd-form-content" data-ff-el="content">
        <div class="ff-61d4750bb0306b55f06cb685__fields" data-ff-el="fields">
          <!--tpl {% block fields %} tpl-->

          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="firstName" placeholder="First name" data-ff-tab="firstName::lastName">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">First name</label>
          </div>


          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="lastName" placeholder="Last name" data-ff-tab="lastName:firstName:email">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">Last name</label>
          </div>


          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="email" placeholder="Email address" data-ff-tab="email:lastName:submit" required="">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">Email address</label>
          </div>

          <input type="text" name="confirm_email_address" style="display: none">
          <!--tpl {% endblock %} tpl-->
        </div>

        <div class="ff-61d4750bb0306b55f06cb685__footer" data-ff-el="footer">
          <button type="submit" class="ff-61d4750bb0306b55f06cb685__button fd-btn" data-ff-el="submit" data-ff-tab="submit">
            <span>Subscribe</span>
          </button>
        </div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__success fd-form-success" data-ff-el="success">
        <div data-paragraph="true">Thank you for subscribing!</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__error fd-form-error" data-ff-el="error"></div>
    </form>
  </div>
</div>

   </div>
</div>
<!-- Contact -->
<div class="modal" id="contact-modal">
  <div data-modal="contact-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg></div>
  <div class="inner"></div>
</div>
<!-- TERMS &amp; CONDITIONS -->
<div class="modal" id="terms-modal">
  <div data-modal="terms-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner"></div>
</div>
<!-- CREDITS -->
<div class="modal" id="credits-modal">
  <div data-modal="credits-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner"></div>
</div>
<!-- MOBILE MODAL -->
<div class="modal" id="mobile-modal">

  <div class="inner">
      <ul>
      <li><a href="Gallery">Book Studio</a></li>
            <li><a href="Gallery-1">Publishing House</a></li>
            <li><a href="Overview">About</a></li>
            <li><a class="modal-trigger" data-modal="search-modal">Search</a></li>
            <li><a data-modal="newsletter-modal" class="modal-trigger">Newsletter</a></li>
            </ul>
   </div>
</div>
<!-- end modals -->

<script src="https://files.cargocollective.com/c1171819/accordion.js"></script>

<script src="https://files.cargocollective.com/c1171819/mobile.js"></script>
<script src="https://files.cargocollective.com/c1171819/modal.js"></script>
<script src="https://files.cargocollective.com/c1171819/backtotop.js"></script>

<script src="https://files.cargocollective.com/c1171819/request.js"></script>
<script src="https://files.cargocollective.com/c1171819/terms.js"></script>