<nav>
  <div class="logo"><a href="/" class="image-link active">
 <img src="https://files.cargocollective.com/c1171819/logo.png">
</a>
  </div>
  <ul class="left-links">
    <li><a href="Gallery" rel="history">Book Studio</a></li>
    <li><a class="off" href="Gallery-1" rel="history">Publishing House</a></li>
    <li><a class="off" href="Overview" rel="history">About</a></li>
  </ul>
  <ul class="right-links">
  <li>    <a href="#" rel="show_cart" show-count="">Cart</a>
</li>
    <li><a data-modal="search-modal" class="modal-trigger">Search</a></li>
  </ul>
</nav>
<div class="mobile-nav">
<div class="logo"><a href="/" class="image-link active">
 <img src="https://files.cargocollective.com/c1171819/logo.png">
</a></div><ul class="right-links">
    <li><a data-modal="mobile-modal" class="mobile-trigger">Menu</a></li>
  <li>    <a href="#" rel="show_cart" show-count="">Cart</a>
</li>
  </ul>
</div>
<div id="sub-nav">
  <ul>
      <li><a href="gallery">Gallery</a></li>
        <li><a href="services">Services</a></li>
        <li class="on"><a href="clients">Clients</a></li>
        <li><a href="Process">Process</a></li>
        <li><a href="Quote">Request a Quote</a></li>
    </ul><br><br>
<br>
    </div><content class="text">
    <small id="clients-text">Albert Watson Studio<br>
Andrew Kass <br>
<a href="Bendix-Harms" rel="history">Anton Kern Gallery</a><br>
Aperture Foundation<br>
<a href="Castle-Ruins-of-Kozuke-Province" rel="history">Brett Davis</a><br>
Dieu Donné<br>
Fabian Oefner<br>
Gladstone Gallery<br>
Institute for Studies on Latin American Art (ISLAA)<br>
<a href="Mara-Kuya" rel="history">June Canedo</a><br>
<a href="All-That-We-Need" rel="history">Oliver Jeffers Studio</a><br>
Paul Mpagi Sepuya<br>
Peter J. Cohen Collection<br>
<a href="Pratt" rel="history">Pratt Institute</a><br>
<a href="Rhea-Karam" rel="history">Rhea Karam</a><br>
<a href="Stranger-Stranger" rel="history">Stranger &amp; Stranger</a><br>
<a href="Secret-of-the-Friendly-Woods" rel="history">Wassaic Project</a><br>
Wendy’s Subway<br>
<br>

<br>
<br>
</small>
</content>

<!-- FOOTER -->
<footer>

<ul>
  <li><a href="" class="active">© Small Editions 2021</a></li>
    <li><a data-modal="terms-modal" class="modal-trigger">Privacy</a></li>
    <li><a data-modal="newsletter-modal" class="modal-trigger">Newsletter</a></li>
    <li><a data-modal="contact-modal" class="modal-trigger">Contact</a></li>
    <li><a data-modal="faq-modal" class="modal-trigger" id="faq-trigger">FAQ</a></li>
    <li><a data-modal="credits-modal" class="modal-trigger">Credits</a></li>
</ul>
</footer>

<div class="modal" id="faq-modal">
  <div data-modal="faq-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner"></div>
</div>
<!-- QUOTE -->
<div class="modal" id="request-modal">
  <div data-modal="request-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1>REQUEST A QUOTE</h1><br>
      <form id="answer" name="submit-to-google-sheet">
            <label for="name">Name</label>
            <input id="name" type="text" name="Name">

              <label for="phone">Phone</label>
                <input id="phone" type="text" name="Phone">

              <label for="email">Email</label>
                <input id="email" type="text" name="Email">
          <label for="details">Details</label>
                <textarea id="details" type="text" name="Details">   </textarea>       <label for="quantity">Quantity:</label>
                <input id="quantity" type="text" name="Quantity">

          <label for="pageSize">Page Size</label>
                <input id="pageSize" type="text" name="PageSize">

          <label for="pageCount">Page Count</label>
                <input id="pageCount" type="text" name="PageCount">

          <label for="color">Color</label>
                <input id="color" type="text" name="Color">

          <label for="material">Material</label>
                <input id="material" type="text" name="Material">

          <label for="budget">Budget</label>
                <input id="budget" type="text" name="Budget">

          <label for="timeline">Timeline</label>
                <input id="timeline" type="text" name="Timeline">
            <button type="submit">SEND REQUEST</button>
            <span id="done-message">REQUEST SUBMITTED!</span>
          </form>
          
   </div>
</div>
<!-- CONSULTATION -->
<div class="modal" id="consultation-modal">
  <div data-modal="consultation-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1>SCHEDULE A CONSULTATION</h1><br>
      <p>Lorem Ipsum</p>
   </div>
</div>
<!-- SEARCH -->
<div class="modal" id="search-modal">
  <div data-modal="search-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1>SEARCH</h1><br>
      <div id="search_form" data-view="search"><input type="text" id="search_term" rel="Search:"></div><script>$(document).trigger("loadSearch");</script>


   </div>
</div>
<!-- Newsletter -->
<div class="modal" id="newsletter-modal">
  <div data-modal="newsletter-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg></div>
  <div class="inner">
      <h1>Newsletter</h1>
  
<div class="ff-61d4750bb0306b55f06cb685" data-ff-el="root" data-ff-version="3" data-ff-type="inline" data-ff-name="ribbonBanner">
  <!--tpl {% block config %} tpl-->
  <div data-ff-el="config" data-ff-config="eyJ0cmlnZ2VyIjp7Im1vZGUiOiJpbW1lZGlhdGVseSIsInZhbHVlIjowfSwib25TdWNjZXNzIjp7Im1vZGUiOiJtZXNzYWdlIiwibWVzc2FnZSI6IiIsInJlZGlyZWN0VXJsIjoiIn0sImNvaSI6ZmFsc2UsInNob3dGb3JSZXR1cm5WaXNpdG9ycyI6dHJ1ZSwibm90aWZpY2F0aW9uIjp0cnVlfQ==" style="display: none"></div>
  <!--tpl {% endblock %} tpl-->
  <div class="ff-61d4750bb0306b55f06cb685__container">
    <form class="ff-61d4750bb0306b55f06cb685__form" action="https://form.flodesk.com/forms/61d4750bb0306b55f06cb685/submit" method="post" data-ff-el="form">
      <div class="ff-61d4750bb0306b55f06cb685__title">
        <div>Subscribe</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__subtitle">
        <div>Sign up with your email address to receive news and updates.</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__content fd-form-content" data-ff-el="content">
        <div class="ff-61d4750bb0306b55f06cb685__fields" data-ff-el="fields">
          <!--tpl {% block fields %} tpl-->

          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="firstName" placeholder="First name" data-ff-tab="firstName::lastName">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">First name</label>
          </div>


          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="lastName" placeholder="Last name" data-ff-tab="lastName:firstName:email">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">Last name</label>
          </div>


          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="email" placeholder="Email address" data-ff-tab="email:lastName:submit" required="">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">Email address</label>
          </div>

          <input type="text" name="confirm_email_address" style="display: none">
          <!--tpl {% endblock %} tpl-->
        </div>

        <div class="ff-61d4750bb0306b55f06cb685__footer" data-ff-el="footer">
          <button type="submit" class="ff-61d4750bb0306b55f06cb685__button fd-btn" data-ff-el="submit" data-ff-tab="submit">
            <span>Subscribe</span>
          </button>
        </div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__success fd-form-success" data-ff-el="success">
        <div data-paragraph="true">Thank you for subscribing!</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__error fd-form-error" data-ff-el="error"></div>
    </form>
  </div>
</div>

   </div>
</div>
<!-- Contact -->
<div class="modal" id="contact-modal">
  <div data-modal="contact-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg></div>
  <div class="inner"></div>
</div>
<!-- TERMS &amp; CONDITIONS -->
<div class="modal" id="terms-modal">
  <div data-modal="terms-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner"></div>
</div>
<!-- CREDITS -->
<div class="modal" id="credits-modal">
  <div data-modal="credits-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner"></div>
</div>
<!-- MOBILE MODAL -->
<div class="modal" id="mobile-modal">

  <div class="inner">
      <ul>
      <li><a href="Gallery">Book Studio</a></li>
            <li><a href="Gallery-1">Publishing House</a></li>
            <li><a href="Overview">About</a></li>
            <li><a class="modal-trigger" data-modal="search-modal">Search</a></li>
            <li><a data-modal="newsletter-modal" class="modal-trigger">Newsletter</a></li>
            </ul>
   </div>
</div>
<!-- end modals -->
<script src="https://files.cargocollective.com/c1171819/accordion.js"></script>
<script src="https://files.cargocollective.com/c1171819/mobile.js"></script>
<script src="https://files.cargocollective.com/c1171819/modal.js"></script>
<script src="https://files.cargocollective.com/c1171819/backtotop.js"></script>

<script src="https://files.cargocollective.com/c1171819/request.js"></script>
<script src="https://files.cargocollective.com/c1171819/terms.js"></script>