<nav>
  <div class="logo"><a href="/" class="image-link active">
 <img src="https://files.cargocollective.com/c1171819/logo.png">
</a>
  </div>
   <ul class="left-links">
    <li><a href="Gallery" rel="history">Book Studio</a></li>
    <li><a class="off" href="Gallery-1" rel="history">Publishing House</a></li>
    <li><a class="off" href="Overview" rel="history">About</a></li>
  </ul>
  <ul class="right-links">
  <li>    <a href="#" rel="show_cart" show-count="">Cart</a>
</li>
    <li><a data-modal="search-modal" class="modal-trigger">Search</a></li>
  </ul>
</nav>
<div class="mobile-nav">
<div class="logo"><a href="/" class="image-link active">
 <img src="https://files.cargocollective.com/c1171819/logo.png">
</a></div><ul class="right-links">
    <li><a data-modal="mobile-modal" class="mobile-trigger">Menu</a></li>
  <li>    <a href="#" rel="show_cart" show-count="">Cart</a>
</li>
  </ul>
</div>
<div id="sub-nav">
  <ul>
      <li class="on"><a href="gallery">Gallery</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="clients">Clients</a></li>
        <li><a href="Process">Process</a></li>
        <li><a href="Quote">Request a Quote</a></li></ul><br>
<br>
<small>We print, bind, and design books, boxes, and multiples.</small>
</div>
<div id="side-nav" style="position: fixed; bottom: auto;">
Refine your search:<br>
<ul>
<li id="soft-cover" class="">Soft cover</li>
<li id="hard-cover" class="">Hard cover</li>
<li id="boxes">Boxes</li>
<li id="smyth-sewn">Smyth-sewn</li>
<li id="pur-bound">PUR perfect-bound</li>
<li id="spiral-bound">Spiral-bound</li>
<li id="exposed-spine">Exposed spine</li>
<li id="accordion">Accordion</li>
<li id="foil-stamping">Foil stamping</li>
<li id="risograph">Risograph</li>
<li id="offset-printing">Offset printing</li>
<li id="digital-offset-printing">Digital offset printing</li>
<li id="clear">Clear all search terms</li>
</ul>
</div>

<content class="gallery">

  <div class="box-wrapper">
    <!----------------------------->
    <!---- ADD BOOKS BELOW HERE --->
  <!----------------------------->

    <!-- copy/paste this example -->
    
<!-- <div class="box">
      <a href="All-the-Streets-are-Silent" rel="history">
        <img width="2300" height="1534" width_o="2300" height_o="1534" data-src="https://freight.cargo.site/t/original/i/d549d0db5249062132704e8f07ba81da4b698b62532e2640eaf9516de196389b/20201229_SmallEditions_022.jpg" data-mid="126878365" border="0" />

        <h1>TITLE</h1>
        &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; AUTHOR
      </a>
    </div> -->

<div class="box">
      <a href="Castle-Ruins-of-Kozuke-Province" rel="history">
 {image 38}<br>

        <br>
<h1>Castle ruins of KŌZUKE province</h1>
        &nbsp; &nbsp; &nbsp; &nbsp; B</a><a href="Castle-Ruins-of-Kozuke-Province" rel="history">rett Davis</a><br><br>
<br>
    </div>
<div class="box">
      <a href="SEE-NO-EVIL" rel="history">
 {image 39}<br>

        <br>
<h1>SEE NO EVIL</h1>
        &nbsp; &nbsp; &nbsp; &nbsp; Adrianne Wortzel</a><br><br>
<br>
    </div>
<div class="box">
      <a href="Diza-No-Ole" rel="history">
{image 36}<br>

        <br>
<h1>DIŽA NO’OLE</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Diza-No-Ole" rel="history">June Canedo</a><br><br>
<br>
    </div>
<div class="box">
      <a href="Secret-of-the-Friendly-Woods" rel="history">
 {image 37}<br>

        <br>
<h1>Secret of the Friendly woods</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Secret-of-the-Friendly-Woods" rel="history">Wassaic Project</a><br><br>
<br>
    </div>
<div class="box">
      <a href="All-That-We-Need" rel="history">
 {image 33}<br>

        <br>
<h1>ALL THAT WE NEED</h1>
        &nbsp; &nbsp; &nbsp; &nbsp; Oliver Jeffers x Feit</a><br><br>
<br>
    </div>
<div class="box">
      <a href="Away-From-the-Forum" rel="history">
 {image 32}<br>

        <br>
<h1>AWAY from the forum</h1>
        &nbsp; &nbsp; &nbsp; &nbsp; Douglas Murray</a><br><br>
<br>
    </div>    
<div class="box">
      <a href="Gabrielle-Widjaja" rel="history">
 {image 31}<br>

        <br>
<h1>WE ARE STILL HERE</h1>
        &nbsp; &nbsp; &nbsp; &nbsp; Gabrielle Widjaja</a><br><br>
<br>
    </div>
<div class="box">
      <a href="Mara-Kuya" rel="history">
 {image 5}<br>

        <br>
<h1>MARA kuya</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Mara-Kuya" rel="history">June Canedo</a><br><br>
<br>
    </div>    
<div class="box">
      <a href="Rhea-Karam" rel="history">
 {image 40}<br>

        <br>
<h1>Come together</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Rhea-Karam" rel="history">Rhea Karam</a><br><br>
<br>
    </div>
<div class="box">
      <a href="It-takes-a-little-more" rel="history">
 {image 8}<br>

        <br>
<h1>IT TAKES A LITTLE MORE: SELECTED CHAMPION PRODUCTS 1919 – 2002</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="It-takes-a-little-more" rel="history">Tags &amp; Threads</a><br>
<br>
    </div>    
<div class="box">
      <a href="Now-more-than-ever" rel="history">
 {image 9}<br>

        <br>
<h1>now, more than ever.</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Now-more-than-ever" rel="history">Wassaic Project</a><br><br>
<br>
    </div>
<div class="box">
      <a href="All-the-Streets-are-Silent" rel="history">
 {image 11}<br>

        <br>
<h1>ALL THE STREETS ARE SILENT THE CONVERGENCE OF HIP-HOP AND SKATEBOARDING (1987–1997)</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="All-the-Streets-are-Silent" rel="history">Elkin Editions</a><br>
<br>
    </div>
<div class="box">
      <a href="Kitsch-Encyclopedia" rel="history">
 {image 12}<br>

        <br>
<h1>KITSCH ENCYCLOPEDIA</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Kitsch-Encyclopedia" rel="history">Sarah Cwynar</a><br><br>
<br>
    </div>
<div class="box">
      <a href="Nicole-Eisenmann" rel="history">
        {image 28}<br>

        <br>
<h1>INCELESBIAN</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Nicole-Eisenmann" rel="history">Nicole Eisenman</a><br><br>
<br>
    </div>
<div class="box">
      <a href="Ji-Oh" rel="history">
 {image 26}<br>

        <br>
<h1>ji oh</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Ji-Oh" rel="history">Hugo &amp; Marie</a><br><br>
<br>
    </div>
<div class="box">
      <a href="Caroline-Schub" rel="history">
 {image 19}<br>

        <br>
<h1>CAROLINE SCHUB 2010–2016</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Caroline-Schub" rel="history">Caroline Schub</a><br><br>
<br>
    </div>    
<div class="box">
      <a href="Bendix-Harms" rel="history">
 {image 15}<br>

        <br>
<h1>BENDIX HARMS ØFZINE</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Bendix-Harms" rel="history">Anton Kern Gallery</a><br><br>
<br>
    </div>
<div class="box">
      <a href="Pratt" rel="history">
{image 17}<br>

        <br>
<h1>MFA FINE ARTS CATALOG 2020</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Pratt" rel="history">Pratt Institute</a><br><br>
<br>
    </div>    
<div class="box">
      <a href="Catherine-Servel" rel="history">
{image 18}<br>

        <br>
<h1>Sunday</h1>
        &nbsp; &nbsp; &nbsp; &nbsp; Catherine Servel</a><br><br>
<br>
    </div>
<div class="box">
      <a href="Lynn-Shostack" rel="history">
 {image 27}<br>

        <br>
<h1>Men in business&nbsp;</h1>
        &nbsp; &nbsp; &nbsp; &nbsp; Lynn Shostack</a><br><br>
<br>
    </div>    
    
<div class="box">
      <a href="Stranger-Stranger" rel="history">
{image 42}<br>

        <br>
<h1>The book of stranger</h1>
 &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="Stranger-Stranger" rel="history">Stranger &amp; Stranger<br></a><br>
    </div>    
    
<div class="box">
      <a href="Castle-Ruins-of-Kozuke-Province" rel="history">
&nbsp;</a><a href="Lynn-Shostack" rel="history">
      </a>
 

</div><div class="box"><br><div class="box-wrapper"><div class="box"></div></div></div><!-- BACK TO TOP--></div><div class="back-to-top">
    <div id="back-to-top">
      <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 9L11 1L21 9" stroke="black"></path>
      </svg><br>
      back to top
    </div>
  </div>
</content>
<!-- FOOTER -->

<!-- FOOTER -->
<footer>
<ul>
  <li>© Small Editions 2021</li>
    <li><a data-modal="terms-modal" class="modal-trigger">Privacy</a></li>
    <li><a data-modal="newsletter-modal" class="modal-trigger">Newsletter</a></li>
    <li><a data-modal="contact-modal" class="modal-trigger">Contact</a></li>
    <li><a data-modal="faq-modal" class="modal-trigger" id="faq-trigger">FAQ</a></li>
    <li><a data-modal="credits-modal" class="modal-trigger">Credits</a></li>
</ul>
</footer>

<div class="modal" id="faq-modal">
  <div data-modal="faq-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner"></div>
</div>
<!-- QUOTE -->
<div class="modal" id="request-modal">
  <div data-modal="request-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1>REQUEST A QUOTE</h1><br>
      <form id="answer" name="submit-to-google-sheet">
            <label for="name">Name</label>
            <input id="name" type="text" name="Name">

              <label for="phone">Phone</label>
                <input id="phone" type="text" name="Phone">

              <label for="email">Email</label>
                <input id="email" type="text" name="Email">
          <label for="details">Details</label>
                <textarea id="details" type="text" name="Details">   </textarea>       <label for="quantity">Quantity:</label>
                <input id="quantity" type="text" name="Quantity">

          <label for="pageSize">Page Size</label>
                <input id="pageSize" type="text" name="PageSize">

          <label for="pageCount">Page Count</label>
                <input id="pageCount" type="text" name="PageCount">

          <label for="color">Color</label>
                <input id="color" type="text" name="Color">

          <label for="material">Material</label>
                <input id="material" type="text" name="Material">

          <label for="budget">Budget</label>
                <input id="budget" type="text" name="Budget">

          <label for="timeline">Timeline</label>
                <input id="timeline" type="text" name="Timeline">
            <button type="submit">SEND REQUEST</button>
            <span id="done-message">REQUEST SUBMITTED!</span>
          </form>
          
   </div>
</div>
<!-- CONSULTATION -->
<div class="modal" id="consultation-modal">
  <div data-modal="consultation-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1>SCHEDULE A CONSULTATION</h1><br>
      <p>Lorem Ipsum</p>
   </div>
</div>
<!-- SEARCH -->
<div class="modal" id="search-modal">
  <div data-modal="search-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner">
      <h1>SEARCH</h1><br>
      <div id="search_form" data-view="search"><input type="text" id="search_term" rel="Search:"></div><script>$(document).trigger("loadSearch");</script>


   </div>
</div>
<!-- Newsletter -->
<div class="modal" id="newsletter-modal">
  <div data-modal="newsletter-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg></div>
  <div class="inner">
      <h1>Newsletter</h1>
  
<div class="ff-61d4750bb0306b55f06cb685" data-ff-el="root" data-ff-version="3" data-ff-type="inline" data-ff-name="ribbonBanner">
  <!--tpl {% block config %} tpl-->
  <div data-ff-el="config" data-ff-config="eyJ0cmlnZ2VyIjp7Im1vZGUiOiJpbW1lZGlhdGVseSIsInZhbHVlIjowfSwib25TdWNjZXNzIjp7Im1vZGUiOiJtZXNzYWdlIiwibWVzc2FnZSI6IiIsInJlZGlyZWN0VXJsIjoiIn0sImNvaSI6ZmFsc2UsInNob3dGb3JSZXR1cm5WaXNpdG9ycyI6dHJ1ZSwibm90aWZpY2F0aW9uIjp0cnVlfQ==" style="display: none"></div>
  <!--tpl {% endblock %} tpl-->
  <div class="ff-61d4750bb0306b55f06cb685__container">
    <form class="ff-61d4750bb0306b55f06cb685__form" action="https://form.flodesk.com/forms/61d4750bb0306b55f06cb685/submit" method="post" data-ff-el="form">
      <div class="ff-61d4750bb0306b55f06cb685__title">
        <div>Subscribe</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__subtitle">
        <div>Sign up with your email address to receive news and updates.</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__content fd-form-content" data-ff-el="content">
        <div class="ff-61d4750bb0306b55f06cb685__fields" data-ff-el="fields">
          <!--tpl {% block fields %} tpl-->

          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="firstName" placeholder="First name" data-ff-tab="firstName::lastName">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">First name</label>
          </div>


          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="lastName" placeholder="Last name" data-ff-tab="lastName:firstName:email">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">Last name</label>
          </div>


          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="email" placeholder="Email address" data-ff-tab="email:lastName:submit" required="">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">Email address</label>
          </div>

          <input type="text" name="confirm_email_address" style="display: none">
          <!--tpl {% endblock %} tpl-->
        </div>

        <div class="ff-61d4750bb0306b55f06cb685__footer" data-ff-el="footer">
          <button type="submit" class="ff-61d4750bb0306b55f06cb685__button fd-btn" data-ff-el="submit" data-ff-tab="submit">
            <span>Subscribe</span>
          </button>
        </div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__success fd-form-success" data-ff-el="success">
        <div data-paragraph="true">Thank you for subscribing!</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__error fd-form-error" data-ff-el="error"></div>
    </form>
  </div>
</div>

   </div>
</div>
<!-- Contact -->
<div class="modal" id="contact-modal">
  <div data-modal="contact-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg></div>
  <div class="inner"></div>
</div>
<!-- TERMS &amp; CONDITIONS -->
<div class="modal" id="terms-modal">
  <div data-modal="terms-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner"></div>
</div>
<!-- CREDITS -->
<div class="modal" id="credits-modal">
  <div data-modal="credits-modal" class="close close-modal"><svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="black"></line>
<line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646448" stroke="black"></line>
</svg>
</div>
  <div class="inner"></div>
</div>
<!-- MOBILE MODAL -->
<div class="modal" id="mobile-modal">

  <div class="inner">
      <ul>
      <li><a href="Gallery">Book Studio</a></li>
            <li><a href="Gallery-1">Publishing House</a></li>
            <li><a href="Overview">About</a></li>
            <li><a class="modal-trigger" data-modal="search-modal">Search</a></li>
            <li><a data-modal="newsletter-modal" class="modal-trigger">Newsletter</a></li>
            </ul>
   </div>
</div>
<!-- end modals -->
<script src="https://files.cargocollective.com/c1171819/accordion.js"></script>
<script src="https://files.cargocollective.com/c1171819/mobile.js"></script>
<script src="https://files.cargocollective.com/c1171819/modal.js"></script>
<script src="https://files.cargocollective.com/c1171819/backtotop.js"></script>

<script src="https://files.cargocollective.com/c1171819/request.js"></script>
<script src="https://files.cargocollective.com/c1171819/refine.js">
</script>
<script src="https://files.cargocollective.com/c1171819/terms.js"></script>
<script src="https://files.cargocollective.com/c1171819/scrollissue.js"></script>