<div class="ff-61d4750bb0306b55f06cb685" data-ff-el="root" data-ff-version="3" data-ff-type="inline" data-ff-name="ribbonBanner">
  <!--tpl {% block config %} tpl-->
  <div data-ff-el="config" data-ff-config="eyJ0cmlnZ2VyIjp7Im1vZGUiOiJpbW1lZGlhdGVseSIsInZhbHVlIjowfSwib25TdWNjZXNzIjp7Im1vZGUiOiJtZXNzYWdlIiwibWVzc2FnZSI6IiIsInJlZGlyZWN0VXJsIjoiIn0sImNvaSI6ZmFsc2UsInNob3dGb3JSZXR1cm5WaXNpdG9ycyI6dHJ1ZSwibm90aWZpY2F0aW9uIjp0cnVlfQ==" style="display: none"></div>
  <!--tpl {% endblock %} tpl-->
  <div class="ff-61d4750bb0306b55f06cb685__container">
    <form class="ff-61d4750bb0306b55f06cb685__form" action="https://form.flodesk.com/forms/61d4750bb0306b55f06cb685/submit" method="post" data-ff-el="form">
      <div class="ff-61d4750bb0306b55f06cb685__title">
        <div>Subscribe</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__subtitle">
        <div>Sign up with your email address to receive news and updates.</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__content fd-form-content" data-ff-el="content">
        <div class="ff-61d4750bb0306b55f06cb685__fields" data-ff-el="fields">
          <!--tpl {% block fields %} tpl-->

          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="firstName" placeholder="First name" data-ff-tab="firstName::lastName">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">First name</label>
          </div>


          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="lastName" placeholder="Last name" data-ff-tab="lastName:firstName:email">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">Last name</label>
          </div>


          <div class="ff-61d4750bb0306b55f06cb685__field fd-form-group">
            <input class="ff-61d4750bb0306b55f06cb685__control fd-form-control" type="text" name="email" placeholder="Email address" data-ff-tab="email:lastName:submit" required="">
            <label class="ff-61d4750bb0306b55f06cb685__label fd-form-label">Email address</label>
          </div>

          <input type="text" name="confirm_email_address" style="display: none">
          <!--tpl {% endblock %} tpl-->
        </div>

        <div class="ff-61d4750bb0306b55f06cb685__footer" data-ff-el="footer">
          <button type="submit" class="ff-61d4750bb0306b55f06cb685__button fd-btn" data-ff-el="submit" data-ff-tab="submit">
            <span>Subscribe</span>
          </button>
        </div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__success fd-form-success" data-ff-el="success">
        <div data-paragraph="true">Thank you for subscribing!</div>
      </div>
      <div class="ff-61d4750bb0306b55f06cb685__error fd-form-error" data-ff-el="error"></div>
    </form>
  </div>
</div>